:root {
  --width: 335px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.whole-page {
  min-width: 375px;
  min-height: 1171px;
  width: 375px;
  height: 1171px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 0 20px 0 20px;
  align-content: flex-start;
}

.text {
  margin-top: 106px;
  height: 131px;
  width: var(--width);
  display: inherit;
  flex-wrap: inherit;
  justify-content: inherit;
}

.text__contact-us {
  font-family: Crimson Text, serif, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  width: 112px;
  text-align: center;
}
.text__paragraph {
  margin-top: 16px;
  width: var(--width);
  height: 85px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  font-family: Work Sans, Arial, Helvetica, sans-serif;
}
.section-main {
  margin-top: 45px;
  width: var(--width);
  height: 705px;
}
.map {
  overflow: hidden;
  background: none !important;
  text-align: center;
}

.map__iframe {
  width: 100%;
  height: 224px;
  border: none;
}
.registration-form {
  height: 481px;
  width: var(--width);
}

.registration-form__fields {
  margin-top: 21px;
  width: var(--width);
  height: 25px;
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.input__fields {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: #000000 solid 1px;
  margin-top: 16px;
  background: #eeeeee;
  padding: 0 10px;
}

.input__fields:nth-of-type(3) {
  height: 141px;
}

.registration-form__button {
  width: 100%;
  height: 48px;
  background: #212529;
  border-radius: 5px;
  border: none;
  font-family: Work Sans, serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-top: 21px;
}

@media (min-width: 1440px) {
  .whole-page {
    min-width: 1440px;
    min-height: 949px;
    height: 949px;
    padding: 0 130px 0 130px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .text {
    width: 411px;
    margin-top: 163px;
    height: 126px;
    justify-content: center;
  }
  .text__contact-us {
    font-size: 40px;
    line-height: 50px;
    width: 187px;
    height: 50px;
  }
  .text__paragraph {
    width: 411px;
    line-height: 35px;
  }
  .section-main {
    margin-top: 67px;
    width: 1180px;
    height: 385px;
    display: grid;
    grid-template: 1fr /575px 575px;
    gap: 30px;
  }
  .registration-form {
    height: 385px;
    width: 575px;
    grid-area: 1/1/1/1;
  }
  .map__iframe {
    grid-area: 1/3/1/3;
    width: 575px;
    height: 384px;
  }
  .registration-form__fields:nth-child(1) {
    margin-top: initial;
  }
  .input__fields:nth-of-type(3) {
    height: 75px;
  }
}
